<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ jsonData.form.header }}</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.4.5/spectre.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.4.5/spectre-exp.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.4.5/spectre-icons.min.css" />
    <style>
        .navHeader {
            position: fixed;
            z-index: 999;
            width: 100%;
            top: 0px;
            box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.5);
            background-color: #fff;
        }

        .mx-4 {
            margin-left: 0.8rem !important;
            margin-right: 0.8rem !important;
        }

        .mx-6 {
            margin-left: 1.2rem !important;
            margin-right: 1.2rem !important;
        }

        .mt-6 {
            margin-top: 1.2rem !important;
        }

        .mt-10 {
            margin-top: 2.0rem !important;
        }
        
        .tile-checkbox-container, .tile-radio-container, .tile-list-container {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
        }

        .tile-checkbox, .tile-radio, .tile-list-item, .tile-list-item-sm {
            width: 70px;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #f5f5f5;
            border: 1px solid #ccc;
            border-radius: 5px;
            transition: background-color 0.3s;
            cursor: pointer;
        }

        .tile-checkbox input, .tile-radio input {
            opacity: 0;
            width: 0;
            height: 0;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }

        .tile-checkbox label, .tile-radio label {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .tile-checkbox input:checked + label, .tile-radio input:checked + label {
            border: 1px solid rgb(87, 85, 217);
            color: rgb(87, 85, 217);
        }

        .tile-list-item-sm {
            width: 50px;
            height: 50px;
            padding: 4px;
            font-size: 12px;
        }

        .tile-list-item:hover {
            background-color: #e0e0e0;
        }
    </style>
</head>
<body>
    <header class="navbar navHeader">
        <section class="navbar-section mx-2">
            <a href="..." class="navbar-brand mr-2">formax</a>
        </section>
        <section class="navbar-section mt-2 mb-2 mx-2">
            <div class="input-group input-inline">
                <input class="form-input" type="text" id="search" name="search" placeholder="search">
                <button class="btn btn-primary input-group-btn">Search</button>
            </div>
        </section>
    </header>

    <div class="container mt-10">
        <div class="columns">
            <div class="column col-3"></div>
            <div class="column col-6 col-xs-12">
                <div class="card mt-6">
                    <div class="card-header">
                        <div class="card-title h5">{{ jsonData.form.header }}</div>
                        <div class="card-subtitle text-gray">{{ jsonData.form.tagline }}</div>
                    </div>
                    <form id="mainForm" name="mainForm" action="{{ jsonData.form.action }}" method="{{ jsonData.form.method }}">
                        <div class="card-body">
                            {% for element in jsonData.form.elements %}
                                {% if element.type in ["text", "password", "email", "tel", "number", "date", "url", "file", "color"] %}
                                    <div class="form-group">
                                        <label class="form-label {{ element.labelStyle }}" for="{{ element.name }}">{{ element.label }}</label>
                                        <input class="form-input" type="{{ element.type }}" name="{{ element.name }}" id="{{ element.name }}" autocomplete="true"
                                               {% if element.placeholder %} placeholder="{{ element.placeholder }}" {% endif %}
                                               {% if element.required %} required {% endif %}
                                               {% if element.type == "date" %} value="{{ current_date }}" {% endif %}>
                                        {% if element.hint %}
                                            <p class="form-input-hint">{{ element.hint }}</p>
                                        {% endif %}
                                    </div>
                                {% elif element.type == "textarea" %}
                                    <div class="form-group">
                                        <label class="form-label {{ element.labelStyle }}">{{ element.label }}</label>
                                        <textarea id="{{ element.name }}" name="{{ element.name }}" class="form-input"
                                                  {% if element.rows > 0 %} rows="{{ element.rows }}" {% endif %}
                                                  {% if element.required %} required {% endif %}></textarea>
                                    </div>
                                {% elif element.type == "select" %}
                                    <div class="form-group">
                                        <label class="form-label {{ element.labelStyle }}">{{ element.label }}</label>
                                        <select name="{{ element.name }}" id="{{ element.name }}" class="form-select"
                                                {% if element.multiple %} multiple {% endif %}>
                                            {% for option in element.options %}
                                                <option value="{{ option.value }}">{{ option.label }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                {% elif element.type == "radio" %}
                                    <div class="form-group">
                                        <label class="form-label {{ element.labelStyle }}">{{ element.label }}</label>
                                        {% for option in element.options %}
                                            <label class="form-radio">
                                                <input type="radio" id="{{ element.name }}" name="{{ element.name }}" value="{{ option.value }}">
                                                <i class="form-icon"></i> {{ option.label }}
                                            </label>
                                        {% endfor %}
                                    </div>
                                {% elif element.type == "checkbox" %}
                                    <div class="form-group">
                                        <label class="form-switch">
                                            <input type="checkbox" id="{{ element.name }}" name="{{ element.name }}">
                                            <i class="form-icon"></i> {{ element.label }}
                                        </label>
                                    </div>
                                {% elif element.type == "checkbox-tile" %}
                                    <div class="form-group">
                                        <label class="form-label {{ element.labelStyle }}">Sample</label>
                                    </div>
                                    <div class="tile-checkbox-container mb-2">
                                        {% for check in element.checks %}
                                            <div class="tile-checkbox mb-2">
                                                <input type="checkbox" id="{{ check.value }}" name="{{ check.value }}">
                                                <label for="{{ check.value }}">{{ check.label }}</label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% elif element.type == "radio-tile" %}
                                    <div class="form-group">
                                        <label class="form-label {{ element.labelStyle }}">{{ element.label }}</label>
                                        <div class="tile-radio-container mb-2">
                                            {% for option in element.options %}
                                                <div class="tile-radio mb-2 mt-2">
                                                    <input type="radio" id="{{ option.value }}" name="{{ element.name }}" value="{{ option.value }}">
                                                    <label for="{{ option.value }}">{{ option.label }}</label>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% elif element.type == "list-tile" %}
                                    <div class="form-group">
                                        <label class="form-label {{ element.labelStyle }}">{{ element.label }}</label>
                                        <div class="tile-list-container">
                                            {% for item in element.items %}
                                                <div class="tile-list-item">{{ item.label }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% elif element.type == "poll" %}
                                    <div class="form-group">
                                        <label class="form-label {{ element.labelStyle }}">{{ element.label }}</label>
                                        <div class="tile-list-container">
                                            {% for item in element.items %}
                                                <div class="tile-list-item-sm">{{ item.label }}</div>
                                                <div class="bar bar-sm">
                                                    <div class="bar-item" role="progressbar" style="width:{{ (100 * item.count / element.totalCount) | round(2) }}%;" aria-valuenow="{{ (100 * item.count / element.totalCount) | round(2) }}" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                    </form>
                    <div id="completeCheck" class="empty mt-2 d-hide">
                        <div class="empty-icon"><i class="icon icon-3x icon-check"></i></div>
                        <p class="empty-title h5">Success</p>
                        <p class="empty-subtitle">You have successfully submitted.</p>
                        <div class="empty-action">
                            <button class="btn btn-primary" id="startAgain">Submit Again</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer mt-6">
        <div class="container">
            <div class="columns">
                <div class="column col-12">
                    <div class="text-center">
                        <p>© 2024 Formax</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        const form = document.getElementById('mainForm');
        const startAgain = document.getElementById('startAgain');
        
        form.addEventListener('submit', function(event) {
            event.preventDefault();
            
            let formData = new FormData(form);
            let jsonObject = {};
            formData.forEach((value, key) => {
                jsonObject[key] = value;
            });

            fetch(form.action, {
                method: form.method,
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(jsonObject)
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('completeCheck').classList.toggle('d-hide');
                form.classList.toggle('d-hide');
                form.reset();
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        });

        startAgain.addEventListener('click', function(event) {
            document.getElementById('completeCheck').classList.toggle('d-hide');
            form.classList.toggle('d-hide');
        });
    });
    </script>
</body>
</html>
