<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Flask App</h1>
        <p>This is the home page of your Flask application.</p>

        <nav>
            <ul class="nav">
                <li class="nav-item"><a class="nav-link" href="{{'{{'}} url_for('signup') {{'}}'}}">Sign Up</a></li>
                <li class="nav-item"><a class="nav-link" href="{{'{{'}} url_for('login') {{'}}'}}">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="{{'{{'}} url_for('reset_password') {{'}}'}}">Reset Password</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>
