<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2>Reset Password</h2>
        <form method="POST" class="mt-4">
            {{'{{'}} form.hidden_tag() {{'}}'}}

            <div class="form-group">
                {{'{{'}} form.username.label(class="form-control-label") {{'}}'}}
                {{'{{'}} form.username(class="form-control") {{'}}'}}
            </div>

            {{'{{'}} form.submit(class="btn btn-primary") {{'}}'}}
        </form>
    </div>
</body>
</html>
